UnityProject/Library
UnityProject/Temp
UnityProject/Assembly-CSharp-vs.csproj
UnityProject/Assembly-CSharp.csproj
UnityProject/UnityProject-csharp.sln
UnityProject/UnityProject.sln
UnityProject/UnityProject.userprefs
Builds
